# Windows image file caches
Thumbs.db
ehthumbs.db

Assets/

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Examples/Animation Examples/animations.zip
Examples/Art Examples/Quake 4 Modeling Parts Junkyard.zip
Examples/EULA.Development Kit.rtf
Examples/readme.txt
Examples/Definition File Examples/monster_slimy_lobber.def
Examples/Font Examples/q4font.zip
Examples/Map Examples/Programmer Example Maps/programmerexamplemaps.zip
Examples/mod Examples/MP Mod - Instagib/q4-instagib.zip
Examples/mod Examples/SP Mod - DMSP/dmsp_v1.pk4
Examples/Definition File Examples/monster_strogg_marine_rocket.def
Examples/Font Examples/marine_ansi.zip
Examples/Font Examples/marine_symbol.zip
Examples/Map Examples/AI map/map_ai_tetherexamples.zip
Examples/Art Examples/Quake 4 Model Reference.zip
Examples/Art Examples/Quake 4 Texture Reference.zip
Examples/uninstall.exe
*.wav
